@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
   
}
html{
    scroll-behavior: smooth;
}
.image img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
}
.image {
    display: flex;
    gap: 5px;
    padding-top: 7%;
}
.image span{
    padding-top: 10px;
    padding-left: 10px;
}
.center {
    display: flex;
    justify-content: center;
    padding-top: 3%;
}
.header-section h1{
    font-size: 35px;
    font-weight: 900;
    color: #222222;
}
.image a{
    text-decoration: underline;
    color: #D23669;
}
.image a:hover{
    text-decoration: none;
    
}
.center1{
    padding-left: 40.3%;
    padding-top: 3%;
}
.blog-title{
    color: #D23669;
    font-size: 30px;
    font-weight: 900;
}
.time{
    padding-top: 5px;
    
}
.blog p{
    padding-top: 5px;
}
.blog{
    width: 50%;
    background: #ffffff;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
    padding: 7px 5px;
    border-radius: 10px;
   
}
.bloglist{
    display: flex;
    flex-direction: column;
    gap: 30px;

}